body{
	height: 100%;
	width: 100%;
	margin: 0;
	background-color: #5A1D0E;
}

#menu{
	margin: 0px auto;
}

#header{
	width: 100%;
	margin: 0px;
	padding: 0px;
}

.button{
	padding: 0px;
	float: left;
}

img{
	padding: 0px;
	margin: 0px;
}

#nameBox{
	font-family: monospace;
	font-size: 250%;
	font-weight: bold;
	color: #A36D48;
}

.input{
	border-radius: 5px;
	font-size: 100%;
	background-color: #FFFFFF;
	color: #000000;
	margin-bottom: 10px;
}

#hostButton{
	font-size: 250%;
	background-color: #A36D48;
	padding: 5px;
	color: #45160A;
	display: inline;
	border-radius: 5px;
	border: none;
	margin-left: 20px;
	box-shadow: 3px 3px 1px #45160A;
}

#hostButton:hover{
	background-color: #A88A76;
}

.startGameButton{
	font-size: 120%;
	text-align: center;
	background-color: #A36D48;
	padding: 5px;
	color: #45160A;
	border-radius: 5px;
	border: none;
	box-shadow: 3px 3px 1px #45160A;
}

.startGameButton:hover{
	background-color: #A88A76;
}

#playerList{
	font-weight: bold;
	font-size: 200%;
}
.heading{
	font-size: 130%;
	font-weight: bold;
	margin: 0;
}

.panel{
	text-align: center;
	color: white;
	font-size: 150%;
	font-family: monospace;
	width: 40%;
	margin: 20px;
	float: left;
	background-color: #7F4E2D;
	border-radius: 10px;
	box-shadow: 15px 15px 7px #45160A;
	padding: 10px;
}

.bold{
	font-weight: 900;
	font-size: 110%;
}

ul{
    list-style-type: none;
}

.error{
	font-family: monospace;
	font-family: 120%;
	color: red;
}

.huge{
	font-size: 40px;
	color: white;
	font-family: monospace;
}

.center{
	margin: 0 auto;
}

#overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 2;
  background-color: rgba(0,0,0,0.6);
}

.modal {
    width: 700px;
    height: 500px;
	padding: 20px;
	padding-top: 100px;
    position: fixed;
    top: 50%; 
    left: 50%;
    margin-top: -260px;
    margin-left: -310px;
    background: url("../images/GAME_OVER.png") no-repeat;
	background-size: 100%;
	background-color: cover;
    border-radius: 20px;
    text-align: center;
    z-index: 3;
}

.container{
	float: left;
}

#leftContainer{
	width: 50%;
}

#rightContainer{
	width: 50%;
	font-size: 90%;
}

.messageDiv{
	width: 90%;
	font-size: 20px;
	color: white;
	font-family: monospace;
	border-radius: 10px;
	background-color: rgba(90,29,14,.7);
	padding: 10px;
	margin: 10px;
	margin-top: 30px;
	box-shadow: 10px 10px 5px #260C05;
}

table{
	margin: 0 auto;
}

td{
	font-weight: bold;
	padding: 0px 7px;
}
